Package: com.ashdevelops.kelpie
Name: Kelpie
Depends: mobilesubstrate, com.wyattgahm.librelic
Replaces: com.wyattgahm.relicloader
Version: 1.0.0
Architecture: iphoneos-arm
Description: Kelpie (relicloader replacement)
Maintainer: ashdevelops
Author: ashdevelops
Section: Development
